#myH1{
    text-align: center;
    color: rgb(137, 117, 117);
}
#myLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(159, 217, 108);
}
#btn{
    text-align: center;
}
.buttons{
    padding: 10px 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 15px;
    background-color: coral;
    color: rgb(0, 0, 0);
    transition: background-color 0.25s ease;
}
.buttons:hover{
    background-color:  rgb(232, 88, 36);;
}
































/* #myH1{
    text-align: center;
}
#myLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#funcBtn{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1em;
    color: rgb(0, 0, 0);
    background-color: rgb(105, 226, 101);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25;
}
.buttons:hover{
    background-color: rgb(33, 182, 27);
} */